# Node modules
node_modules/

# Build output
dist/
build/

# Environment files
.env
venv

# Service account keys - DO NOT COMMIT SECRETS TO GIT
serviceAccountKey.json

# Logs
*.log
package-lock.json
frontend/package-lock.json
fbackedn/__pycache__

