# Node modules
node_modules/

# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/
.env

# Editor folders
.idea/
.vscode/

# Mac files
.DS_Store

# Python packaging
*.egg-info/
dist/
build/

# Logs and databases
*.log
*.sqlite3

# Optional: service account keys (if you don't want them in the repo)
# serviceAccountKey.jso


# Service account keys - DO NOT COMMIT SECRETS TO GIT
serviceAccountKey.json

# Logs
*.log
package-lock.json
frontend/package-lock.json

